
<main>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="products">
            <div class="products__card card1">
                <img
              src="car-image.jpg"
              alt="Car Image"
              class="car-image"
              onclick="openModal('car-image.jpg')"
            />
            <div class="car-details">
              <p>Engine Type: Petrol</p>
              <p>Number of Seats: 5</p>
              <a href="rent.html" class="rent-button">Rent Now</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="products">
            <div class="products__card card2">
                <img
              src="car-image.jpg"
              alt="Car Image"
              class="car-image"
              onclick="openModal('car-image.jpg')"
            />
            <div class="car-details">
              <p>Engine Type: Petrol</p>
              <p>Number of Seats: 5</p>
              <a href="rent.html" class="rent-button">Rent Now</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="products">
            <div class="products__card card3">
                <img
              src="car-image.jpg"
              alt="Car Image"
              class="car-image"
              onclick="openModal('car-image.jpg')"
            />
            <div class="car-details">
              <p>Engine Type: Petrol</p>
              <p>Number of Seats: 5</p>
              <a href="rent.html" class="rent-button">Rent Now</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>